backend_fastapi/.env

backend_fastapi/__pycache__

backend_fastapi/

backend_node/node_modules

backend_node/.env

backend_node/wba-wallet.json

backend_node/

gi_frontend_react/node_modules

.DS_Store

README_.md